*,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

#cps-header {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1.6rem;
  border-top: 1px solid #dadada;
}

#cps-header .cps-header__container {
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

#cps-header
  .cps-header__container
  .cps-header__logo
  .custom-logo-link
  img.custom-logo {
  width: auto;
  max-height: 79px;
  box-sizing: inherit;
}

.fa-magnifying-glass:before, .fa-search:before {
    content: "\f002";
}
*, ::after, ::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.fa, .fa-brands, .fa-classic, .fa-regular, .fa-sharp-solid, .fa-solid, .fab, .far, .fas {
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

form.form-pesquisa {
    display: flex;
    margin-top: 0;
    width: 45rem;
}

form.form-pesquisa {
    -webkit-box-pack: center;
    justify-content: center;
    order: 3;
    font-size: 15px;
}

button.busca-submit .fas .fa-search {
    color: #b20000;
    font-size: 1.8rem;
}

.fa-solid, .fas {
    font-weight: 900;
}

input[type="search"] {
    box-sizing: border-box;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    border-radius: 30px 0 0 30px;
    color: #666;
    font-weight: 300;
    width: 85%;
    float: left;
    height: 50px;
}
.campo-de-busca {
    border: 1px solid #dadada !important;
    background: #fff !important;
    padding: 15px !important;
}

button.busca-submit:hover {
  background-color: #b20000;
}

button.busca-submit {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #dadada;
    border-left: 0;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 0 30px 30px 0;
    transition: 0.3s;
    width: 15%;
    height: 50px;
}
